{% extends 'base.html' %}

{% block title %}{{ecosystem}} overview{% endblock %}

{% block head %}
    {{ super() }}
    <!-- DC Section -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.9/dc.min.css" integrity="sha256-WHvgKNpdomdSPf4EGBla0Wx7QZpnZyKAOvuHQcuMHNs=" crossorigin="anonymous" />
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.9/dc.min.js" integrity="sha256-lHXvuiec76ADsGFbvhtRQqiJlYoVtjQUcDR4E/Z/XGo=" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <h1>{{ecosystem.capitalize()}}</h1>
    </div>
    <div class="col-md-6 text-right">
        <a href="{{ecosystem}}/profiles">Contributors</a>
    </div>
</div>
<div class="row">
    <div id="commits-chart"></div>
</div>
<div class="row">
    <div class="col-md-6">
        <div id="authors-chart"></div>
    </div>
    <div class="col-md-6">
        <div id="repos-chart"></div>
    </div>
</div>

<script type="text/javascript">

d3.csv('/static/data/{{ecosystem}}/data.csv', function (data) {
    var parseDate = d3.time.format('%Y-%m-%d %H:%M:%S').parse;
    data.forEach(function (d){
        d.dd = parseDate(d.date);
        d.month = d3.time.month(d.dd)
    });

    var ndx = crossfilter(data);

    // set up dimensions

    var dateDim = ndx.dimension(function (d) { return d.dd; });
    var minDate = dateDim.bottom(1)[0];
    var maxDate = dateDim.top(1)[0];

    var monthDim = ndx.dimension(function (d) { return d.month; });
    var usernameDim = ndx.dimension(function (d) { return d.author; });
    var repoDim = ndx.dimension(function (d) { return d.repository });

    // set up groups

    var dateDimGroup = dateDim.group();
    var usernameDimGroup = usernameDim.group();
    var repoDimGroup = repoDim.group();
    var monthDimGroup = monthDim.group();

    // set up charts

    var commitsChart = dc.lineChart('#commits-chart');
    //var commitsRangeChart = dc.barChart('#commits-range-chart');
    var authorsChart = dc.rowChart('#authors-chart');
    var reposChart = dc.rowChart('#repos-chart');

    commitsChart
        .height(120)
        .renderArea(true)
        .transitionDuration(500)
        .renderHorizontalGridLines(true)
        .brushOn(false)
        .yAxisPadding('20%')
        .elasticX(true)
        .elasticY(true)
        .dimension(monthDim)
        .group(monthDimGroup)
        .mouseZoomable(false)
        .x(d3.time.scale().domain([minDate, maxDate]))
        .round(d3.time.month.round)
        .xUnits(d3.time.months);

    authorsChart
        .height(800)
        .transitionDuration(500)
        .dimension(usernameDim)
        .group(usernameDimGroup)
        .xAxis().ticks(4);

    reposChart
        .height(400)
        .transitionDuration(500)
        .group(repoDimGroup)
        .dimension(repoDim)
        .xAxis().ticks(4);

    dc.renderAll();

});
</script>
{% endblock %}