{% extends 'base.html' %}

{% block title %}:{{ecosystem}} profiles{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#profiles').DataTable();
        });
    </script>
{% endblock %}


{% block body %}
<h1><a href="/{{ecosystem}}">{{ecosystem.capitalize()}}</a> / <small>Contributors profiles</small></h1>
<div class="row">
    <div class="col-md-7">
        <form class="form" action="/{{ecosystem}}/profiles/merge" method="POST" >
            <table class="table table-striped" id="profiles">
                
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td class="text-right"><input type="submit" class="btn btn-success" value="Merge"></td>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for row in profiles %}
                        <tr>
                            <td><a href="profile/{{row.uuid}}">{{row.name}}</a></td>
                            <td class="text-right"><input type="checkbox" name="uuid" value="{{row.uuid}}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}