{% extends 'base.html' %}

{% block title %}{{ecosystem}}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block body %}
<h1><a href="/{{ecosystem}}">{{ecosystem.capitalize()}}</a> / <small><a href="/{{ecosystem}}/profiles">Contributors profiles</a></small> / <small>{{name}}</small></h1>

<div class="row">
    <div class="col-md-7">
        <h2>Identities</h2>
        <table class="table table-striped" id="profiles">
            <thead>
                <tr>
                    <th>User name</th>
                </tr>
            </thead>
            <tbody>
                {% for identity in identities %}
                <tr>
                    <td>{{identity.username}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}