{% extends "base.html" %}

{% block page_header %}
<!-- Bokeh JS -->
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js"
        crossorigin="anonymous"></script>
{{ script | safe }}
{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-5">
            <h1>Hello, World!</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis 
                condimentum odio sollicitudin lobortis. Pellentesque habitant morbi tristique 
                senectus et netus et malesuada fames ac turpis egestas. Integer porta lorem 
                in mattis fermentum. Donec velit nisi, congue ac ligula quis, semper ornare 
                quam. Nullam quis dolor nunc. Ut auctor lorem a dignissim rutrum. Nam aliquet 
                ut ipsum nec dignissim. Integer molestie tempor vehicula. Aenean nibh lacus, 
                tincidunt ac nisi non, lobortis feugiat justo.</p>
            <div class="row">
                <div class="col-sm-3">
                    <ul>
                        {% for project in projects %}
                        <li><a href="?pid={{project.id}}">{{project.name}}</a></li>
                        {% endfor %}
                    </ul>
                    <p><a class="btn btn-sm btn-primary" href="/data/">Reset</a></p>
                </div>
                <div class="col-sm-9">
                    <ul style="max-height: 250px; overflow-y: scroll;">
                        {% for repo in repositories %}
                        <li><a href="?rid={{repo.id}}">{{repo.url}}</a></li>
                        {% endfor %}
                    </ul>
                    <p><a class="btn btn-primary" href="/data/">Reset</a></p>
                </div>
            </div>
        </div>
        
        <!-- Chart -->
        <div class="col-12 col-md-7">
            {{ div | safe }}
        </div>
    </div>
</div>
{% endblock %}